<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="TrafegusWebServerPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <non-jta-data-source/>
    <class>br.com.chapecosolucoes.server.beans.AbeeAcaoBeep</class>
    <class>br.com.chapecosolucoes.server.beans.AbolAcaoBolinha</class>
    <class>br.com.chapecosolucoes.server.beans.AcessoView</class>
    <class>br.com.chapecosolucoes.server.beans.AcomAcaoComando</class>
    <class>br.com.chapecosolucoes.server.beans.AlinAcaoLinha</class>
    <class>br.com.chapecosolucoes.server.beans.AmacAcaoMacro</class>
    <class>br.com.chapecosolucoes.server.beans.ApadAcaoPadrao</class>
    <class>br.com.chapecosolucoes.server.beans.ApopAcaoPopup</class>
    <class>br.com.chapecosolucoes.server.beans.AssdAssistenteDetalhe</class>
    <class>br.com.chapecosolucoes.server.beans.AssiAssistente</class>
    <class>br.com.chapecosolucoes.server.beans.AtusAcessoTelaUsuario</class>
    <class>br.com.chapecosolucoes.server.beans.AusuAcessoUsuario</class>
    <class>br.com.chapecosolucoes.server.beans.BairBairro</class>
    <class>br.com.chapecosolucoes.server.beans.CateCategoria</class>
    <class>br.com.chapecosolucoes.server.beans.CcobConfiguracaoCobranca</class>
    <class>br.com.chapecosolucoes.server.beans.CfgCampoFramework</class>
    <class>br.com.chapecosolucoes.server.beans.CfgChaveEstrangeira</class>
    <class>br.com.chapecosolucoes.server.beans.CfgTabelaFramework</class>
    <class>br.com.chapecosolucoes.server.beans.CidaCidade</class>
    <class>br.com.chapecosolucoes.server.beans.CintConfiguracaoIntegracao</class>
    <class>br.com.chapecosolucoes.server.beans.CombComboio</class>
    <class>br.com.chapecosolucoes.server.beans.ConaContato</class>
    <class>br.com.chapecosolucoes.server.beans.ContContainer</class>
    <class>br.com.chapecosolucoes.server.beans.CpadComandoPadrao</class>
    <class>br.com.chapecosolucoes.server.beans.CpatCelulaPatio</class>
    <class>br.com.chapecosolucoes.server.beans.CrefClasseReferencia</class>
    <class>br.com.chapecosolucoes.server.beans.CsisConfiguracaoSistema</class>
    <class>br.com.chapecosolucoes.server.beans.CtecContaTecnologia</class>
    <class>br.com.chapecosolucoes.server.beans.CvteComandoVersaoTecnologi</class>
    <class>br.com.chapecosolucoes.server.beans.EcliEstatusCliente</class>
    <class>br.com.chapecosolucoes.server.beans.EcomEnvioComando</class>
    <class>br.com.chapecosolucoes.server.beans.EescEmpresaEscolta</class>
    <class>br.com.chapecosolucoes.server.beans.ElocEmbarcadorLocal</class>
    <class>br.com.chapecosolucoes.server.beans.EmacEnvioMacro</class>
    <class>br.com.chapecosolucoes.server.beans.EmbaEmbarcador</class>
    <class>br.com.chapecosolucoes.server.beans.EmliEnvioMensagemLivre</class>
    <class>br.com.chapecosolucoes.server.beans.EnviEnvio</class>
    <class>br.com.chapecosolucoes.server.beans.EobjEstatusObjeto</class>
    <class>br.com.chapecosolucoes.server.beans.EpmoEstatusPesquisaMotoris</class>
    <class>br.com.chapecosolucoes.server.beans.EppaEventoPerifericoPadrao</class>
    <class>br.com.chapecosolucoes.server.beans.ErasEstacaoRastreamento</class>
    <class>br.com.chapecosolucoes.server.beans.ErusEstacaoRastreamentoUsu</class>
    <class>br.com.chapecosolucoes.server.beans.EsisEventoSistema</class>
    <class>br.com.chapecosolucoes.server.beans.EspaEventoSistemaPadrao</class>
    <class>br.com.chapecosolucoes.server.beans.EspgEmbarcSegurPlanoGeren</class>
    <class>br.com.chapecosolucoes.server.beans.EstaEstado</class>
    <class>br.com.chapecosolucoes.server.beans.EstaEstatus</class>
    <class>br.com.chapecosolucoes.server.beans.EterEstatusTerminal</class>
    <class>br.com.chapecosolucoes.server.beans.EvcaEstatusVeiculoCarga</class>
    <class>br.com.chapecosolucoes.server.beans.GmacGrupoMacro</class>
    <class>br.com.chapecosolucoes.server.beans.GrisGerenciadoraRisco</class>
    <class>br.com.chapecosolucoes.server.beans.HpmoHistoricoPesquisaMotor</class>
    <class>br.com.chapecosolucoes.server.beans.HpprHistoricoPesquisaProd</class>
    <class>br.com.chapecosolucoes.server.beans.HtpgHistoricoTrocaPg</class>
    <class>br.com.chapecosolucoes.server.beans.ItriImpTrafegusRisco</class>
    <class>br.com.chapecosolucoes.server.beans.LemcListaEnvioMsgContato</class>
    <class>br.com.chapecosolucoes.server.beans.LemeListaEnvioMensagem</class>
    <class>br.com.chapecosolucoes.server.beans.LogrLogradouro</class>
    <class>br.com.chapecosolucoes.server.beans.MaloMalote</class>
    <class>br.com.chapecosolucoes.server.beans.MintMensagemIntegracao</class>
    <class>br.com.chapecosolucoes.server.beans.MotiMotivo</class>
    <class>br.com.chapecosolucoes.server.beans.MotoMotorista</class>
    <class>br.com.chapecosolucoes.server.beans.MpadMacroPadrao</class>
    <class>br.com.chapecosolucoes.server.beans.MtraMotoristaTransportador</class>
    <class>br.com.chapecosolucoes.server.beans.MvecModeloVeiculo</class>
    <class>br.com.chapecosolucoes.server.beans.MveiMarcaVeiculo</class>
    <class>br.com.chapecosolucoes.server.beans.OrasObjetoRastreado</class>
    <class>br.com.chapecosolucoes.server.beans.OrobObjetoRastreadoObs</class>
    <class>br.com.chapecosolucoes.server.beans.OrteObjetoRastreadoTermina</class>
    <class>br.com.chapecosolucoes.server.beans.PaiaPgAssociaItemAcao</class>
    <class>br.com.chapecosolucoes.server.beans.PaipPgAssociaItemParam</class>
    <class>br.com.chapecosolucoes.server.beans.PaisPais</class>
    <class>br.com.chapecosolucoes.server.beans.PcamPermissaoCampo</class>
    <class>br.com.chapecosolucoes.server.beans.PcenParametroComandoEnvio</class>
    <class>br.com.chapecosolucoes.server.beans.PconPessoaContato</class>
    <class>br.com.chapecosolucoes.server.beans.PcpaParametroComandoPadrao</class>
    <class>br.com.chapecosolucoes.server.beans.PenvPeriodicidadeEnvio</class>
    <class>br.com.chapecosolucoes.server.beans.PerfPerfil</class>
    <class>br.com.chapecosolucoes.server.beans.PessPessoa</class>
    <class>br.com.chapecosolucoes.server.beans.PfisPessoaFisica</class>
    <class>br.com.chapecosolucoes.server.beans.PfvaPgFaixaValor</class>
    <class>br.com.chapecosolucoes.server.beans.PgaiPgAssociaItem</class>
    <class>br.com.chapecosolucoes.server.beans.PgpgPg</class>
    <class>br.com.chapecosolucoes.server.beans.PipaPgItemParametro</class>
    <class>br.com.chapecosolucoes.server.beans.PitePgItem</class>
    <class>br.com.chapecosolucoes.server.beans.PjurPessoaJuridica</class>
    <class>br.com.chapecosolucoes.server.beans.PpadPerifericoPadrao</class>
    <class>br.com.chapecosolucoes.server.beans.PperProblemaPeriferico</class>
    <class>br.com.chapecosolucoes.server.beans.PpinPerifericoPadraoInstal</class>
    <class>br.com.chapecosolucoes.server.beans.PproPermissaoProduto</class>
    <class>br.com.chapecosolucoes.server.beans.ProdProduto</class>
    <class>br.com.chapecosolucoes.server.beans.PtelPermissaoTela</class>
    <class>br.com.chapecosolucoes.server.beans.PtitPgTipoItem</class>
    <class>br.com.chapecosolucoes.server.beans.PvtePerifericVersaoTecnolo</class>
    <class>br.com.chapecosolucoes.server.beans.RconReferenciaContato</class>
    <class>br.com.chapecosolucoes.server.beans.ReceRecebimento</class>
    <class>br.com.chapecosolucoes.server.beans.RefeReferencia</class>
    <class>br.com.chapecosolucoes.server.beans.RmacRecebimentoMacro</class>
    <class>br.com.chapecosolucoes.server.beans.RmliRecebimentoMensagLivre</class>
    <class>br.com.chapecosolucoes.server.beans.RotaRota</class>
    <class>br.com.chapecosolucoes.server.beans.RperRecebimentoPeriferico</class>
    <class>br.com.chapecosolucoes.server.beans.RponRotaPonto</class>
    <class>br.com.chapecosolucoes.server.beans.RposRecebimentoPosicao</class>
    <class>br.com.chapecosolucoes.server.beans.SarqSistemaArquivos</class>
    <class>br.com.chapecosolucoes.server.beans.ScriScriptCriacao</class>
    <class>br.com.chapecosolucoes.server.beans.SeguSeguradora</class>
    <class>br.com.chapecosolucoes.server.beans.SemeServicoEnvioMensagem</class>
    <class>br.com.chapecosolucoes.server.beans.SetoSetor</class>
    <class>br.com.chapecosolucoes.server.beans.SicoServicoIntegracaoConf</class>
    <class>br.com.chapecosolucoes.server.beans.SinsServicoInstancia</class>
    <class>br.com.chapecosolucoes.server.beans.SrasSeparacaoRastreamento</class>
    <class>br.com.chapecosolucoes.server.beans.SsisServicoSistema</class>
    <class>br.com.chapecosolucoes.server.beans.SterSinalTerminal</class>
    <class>br.com.chapecosolucoes.server.beans.SvexSistemaVinculoExterno</class>
    <class>br.com.chapecosolucoes.server.beans.SvteSeguradoraVersaoTecnol</class>
    <class>br.com.chapecosolucoes.server.beans.TcomTipoComunicacao</class>
    <class>br.com.chapecosolucoes.server.beans.TecnTecnologia</class>
    <class>br.com.chapecosolucoes.server.beans.TembTransportadorEmbarcador</class>
    <class>br.com.chapecosolucoes.server.beans.TenvTipoEnvio</class>
    <class>br.com.chapecosolucoes.server.beans.TermTerminal</class>
    <class>br.com.chapecosolucoes.server.beans.TestTipoEstabelecimento</class>
    <class>br.com.chapecosolucoes.server.beans.TlevTipoLocalEvento</class>
    <class>br.com.chapecosolucoes.server.beans.TlocTipoLocal</class>
    <class>br.com.chapecosolucoes.server.beans.TlocTransportadorLocal</class>
    <class>br.com.chapecosolucoes.server.beans.TmacTipoMacro</class>
    <class>br.com.chapecosolucoes.server.beans.TmotTipoMotivo</class>
    <class>br.com.chapecosolucoes.server.beans.TopeTipoOperacao</class>
    <class>br.com.chapecosolucoes.server.beans.TparTipoParada</class>
    <class>br.com.chapecosolucoes.server.beans.TparTipoParametro</class>
    <class>br.com.chapecosolucoes.server.beans.TperTipoPeriferico</class>
    <class>br.com.chapecosolucoes.server.beans.TproProduto</class>
    <class>br.com.chapecosolucoes.server.beans.TranTransportador</class>
    <class>br.com.chapecosolucoes.server.beans.TspgTranspSegurPlanoGeren</class>
    <class>br.com.chapecosolucoes.server.beans.TtraTipoTransporte</class>
    <class>br.com.chapecosolucoes.server.beans.TvalTipoValor</class>
    <class>br.com.chapecosolucoes.server.beans.TvcoTipoVinculoContratual</class>
    <class>br.com.chapecosolucoes.server.beans.TveiTipoVeiculo</class>
    <class>br.com.chapecosolucoes.server.beans.UlsiUltimoLogServicoInteg</class>
    <class>br.com.chapecosolucoes.server.beans.UposUltimaPosicao</class>
    <class>br.com.chapecosolucoes.server.beans.UrpeUltimoRecPeriferico</class>
    <class>br.com.chapecosolucoes.server.beans.UsuaUsuario</class>
    <class>br.com.chapecosolucoes.server.beans.VcarVeiculoCarreta</class>
    <class>br.com.chapecosolucoes.server.beans.VcavVeiculoCavalo</class>
    <class>br.com.chapecosolucoes.server.beans.VccaVeiculoCavaloCarreta</class>
    <class>br.com.chapecosolucoes.server.beans.VconViagemConhecimento</class>
    <class>br.com.chapecosolucoes.server.beans.VeicVeiculo</class>
    <class>br.com.chapecosolucoes.server.beans.VembVeiculoEmbarcador</class>
    <class>br.com.chapecosolucoes.server.beans.VestViagemEstatus</class>
    <class>br.com.chapecosolucoes.server.beans.ViagViagem</class>
    <class>br.com.chapecosolucoes.server.beans.ViewAcao</class>
    <class>br.com.chapecosolucoes.server.beans.ViewDadosCarreta</class>
    <class>br.com.chapecosolucoes.server.beans.ViewDadosContato</class>
    <class>br.com.chapecosolucoes.server.beans.ViewDadosEmbarcador</class>
    <class>br.com.chapecosolucoes.server.beans.ViewDadosTransportador</class>
    <class>br.com.chapecosolucoes.server.beans.ViewDadosVeiculo</class>
    <class>br.com.chapecosolucoes.server.beans.ViewDetalheEnvioMensagem</class>
    <class>br.com.chapecosolucoes.server.beans.ViewDetalheReceMensagem</class>
    <class>br.com.chapecosolucoes.server.beans.ViewDetalheReceMensagemV2</class>
    <class>br.com.chapecosolucoes.server.beans.ViewEstacaoObjetoRastreavel</class>
    <class>br.com.chapecosolucoes.server.beans.ViewEstatistica</class>
    <class>br.com.chapecosolucoes.server.beans.ViewEventoAcao</class>
    <class>br.com.chapecosolucoes.server.beans.ViewEventoAcaoBeep</class>
    <class>br.com.chapecosolucoes.server.beans.ViewEventoAcaoBolinha</class>
    <class>br.com.chapecosolucoes.server.beans.ViewEventoAcaoLinha</class>
    <class>br.com.chapecosolucoes.server.beans.ViewEventoAcaoPopup</class>
    <class>br.com.chapecosolucoes.server.beans.ViewHistViagem</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegCadVeiculo</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegCadVeiculoV2</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegCadVeiculoWsV2Cronos</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegMacroWs</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegMacroWsCronos</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegMotoraWs</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegMotoraWsCronos</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegMsgWs</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegMsgWsCronos</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegPosWs</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegPosWsV2</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegPosWsV2Cronos</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegStatusEnvioWs</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegViagemWs</class>
    <class>br.com.chapecosolucoes.server.beans.ViewIntegerStatusServicoWs</class>
    <class>br.com.chapecosolucoes.server.beans.ViewOrasPgpgPgai</class>
    <class>br.com.chapecosolucoes.server.beans.ViewPgrEmViagem</class>
    <class>br.com.chapecosolucoes.server.beans.ViewTerminalNaoAcossiado</class>
    <class>br.com.chapecosolucoes.server.beans.ViewVeiculoAgendamento</class>
    <class>br.com.chapecosolucoes.server.beans.ViewVeiculoComViagem</class>
    <class>br.com.chapecosolucoes.server.beans.ViewVeiculoEventoSistema</class>
    <class>br.com.chapecosolucoes.server.beans.ViewVeiculoMotorista</class>
    <class>br.com.chapecosolucoes.server.beans.ViewVeiculoSemViagem</class>
    <class>br.com.chapecosolucoes.server.beans.ViewViagemMotorista</class>
    <class>br.com.chapecosolucoes.server.beans.VlevViagemLocalEvento</class>
    <class>br.com.chapecosolucoes.server.beans.VlocViagemLocal</class>
    <class>br.com.chapecosolucoes.server.beans.VmotVeiculoMoto</class>
    <class>br.com.chapecosolucoes.server.beans.VnfiViagemNotaFiscal</class>
    <class>br.com.chapecosolucoes.server.beans.VproViagemProduto</class>
    <class>br.com.chapecosolucoes.server.beans.VrotViagemRota</class>
    <class>br.com.chapecosolucoes.server.beans.VtecVersaoTecnologia</class>
    <class>br.com.chapecosolucoes.server.beans.VtemViagemTemperatura</class>
    <class>br.com.chapecosolucoes.server.beans.VterViagemTerminal</class>
    <class>br.com.chapecosolucoes.server.beans.VtraVeiculoTransportador</class>
    <class>br.com.chapecosolucoes.server.beans.VtruVeiculoTruck</class>
    <class>br.com.chapecosolucoes.server.beans.VucaVeiculoUtilitarioCarga</class>
    <class>br.com.chapecosolucoes.server.beans.VupaVeiculoUtilitarioPasse</class>
    <class>br.com.chapecosolucoes.server.beans.VveiViagemVeiculo</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://200.180.96.112:6969/trafegus_transc"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="javax.persistence.jdbc.password" value="easy"/>
    </properties>
  </persistence-unit>
</persistence>
