<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
    <persistence-unit name="trafeguswsPU" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <non-jta-data-source/>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.AbeeAcaoBeep</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.AbolAcaoBolinha</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.AcomAcaoComando</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.AlinAcaoLinha</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.AmacAcaoMacro</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.ApadAcaoPadrao</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.ApopAcaoPopup</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.AssdAssistenteDetalhe</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.AssiAssistente</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.AtusAcessoTelaUsuario</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.AusuAcessoUsuario</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.BairBairro</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CateCategoria</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CcobConfiguracaoCobranca</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CfgCampoFramework</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CfgChaveEstrangeira</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CfgTabelaFramework</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CidaCidade</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CintConfiguracaoIntegracao</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CombComboio</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.ConaContato</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.ContContainer</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CpadComandoPadrao</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CpatCelulaPatio</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CrefClasseReferencia</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CsisConfiguracaoSistema</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CtecContaTecnologia</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.CvteComandoVersaoTecnologi</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EcliEstatusCliente</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EcomEnvioComando</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EescEmpresaEscolta</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.ElocEmbarcadorLocal</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EmacEnvioMacro</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EmbaEmbarcador</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EmliEnvioMensagemLivre</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EnviEnvio</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EobjEstatusObjeto</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EpmoEstatusPesquisaMotoris</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EppaEventoPerifericoPadrao</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.ErasEstacaoRastreamento</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.ErusEstacaoRastreamentoUsu</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EsisEventoSistema</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EspaEventoSistemaPadrao</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EspgEmbarcSegurPlanoGeren</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EstaEstado</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EstaEstatus</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EterEstatusTerminal</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.EvcaEstatusVeiculoCarga</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.GmacGrupoMacro</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.GrisGerenciadoraRisco</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.HpmoHistoricoPesquisaMotor</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.HpprHistoricoPesquisaProd</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.HtpgHistoricoTrocaPg</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.ItriImpTrafegusRisco</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.LemcListaEnvioMsgContato</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.LemeListaEnvioMensagem</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.LogrLogradouro</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.MaloMalote</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.MintMensagemIntegracao</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.MotiMotivo</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.MotoMotorista</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.MpadMacroPadrao</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.MtraMotoristaTransportador</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.MvecModeloVeiculo</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.MveiMarcaVeiculo</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.OrasObjetoRastreado</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.OrobObjetoRastreadoObs</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.OrteObjetoRastreadoTermina</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PaiaPgAssociaItemAcao</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PaipPgAssociaItemParam</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PaisPais</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PcamPermissaoCampo</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PcenParametroComandoEnvio</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PconPessoaContato</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PcpaParametroComandoPadrao</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PenvPeriodicidadeEnvio</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PerfPerfil</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PessPessoa</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PfisPessoaFisica</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PfvaPgFaixaValor</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PgaiPgAssociaItem</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PgpgPg</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PipaPgItemParametro</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PitePgItem</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PjurPessoaJuridica</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PpadPerifericoPadrao</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PperProblemaPeriferico</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PpinPerifericoPadraoInstal</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PproPermissaoProduto</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.ProdProduto</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PtelPermissaoTela</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PtitPgTipoItem</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.PvtePerifericVersaoTecnolo</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.RconReferenciaContato</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.RefeReferencia</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.RmliRecebimentoMensagLivre</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.RotaRota</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.RponRotaPonto</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.SarqSistemaArquivos</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.ScriScriptCriacao</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.SeguSeguradora</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.SemeServicoEnvioMensagem</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.SetoSetor</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.SicoServicoIntegracaoConf</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.SinsServicoInstancia</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.SrasSeparacaoRastreamento</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.SsisServicoSistema</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.SterSinalTerminal</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.SvexSistemaVinculoExterno</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.SvteSeguradoraVersaoTecnol</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TcomTipoComunicacao</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TecnTecnologia</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TembTransportadorEmbarcador</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TenvTipoEnvio</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TermTerminal</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TestTipoEstabelecimento</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TlevTipoLocalEvento</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TlocTipoLocal</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TlocTransportadorLocal</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TmacTipoMacro</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TmotTipoMotivo</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TopeTipoOperacao</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TparTipoParada</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TparTipoParametro</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TperTipoPeriferico</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TproProduto</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TranTransportador</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TspgTranspSegurPlanoGeren</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TtraTipoTransporte</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TvalTipoValor</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TvcoTipoVinculoContratual</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.TveiTipoVeiculo</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.UlsiUltimoLogServicoInteg</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.UrpeUltimoRecPeriferico</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.UsuaUsuario</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VcarVeiculoCarreta</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VcavVeiculoCavalo</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VccaVeiculoCavaloCarreta</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VconViagemConhecimento</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VeicVeiculo</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VembVeiculoEmbarcador</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VestViagemEstatus</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.ViagViagem</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VlevViagemLocalEvento</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VlocViagemLocal</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VmotVeiculoMoto</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VnfiViagemNotaFiscal</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VproViagemProduto</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VrotViagemRota</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VtecVersaoTecnologia</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VtemViagemTemperatura</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VterViagemTerminal</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VtraVeiculoTransportador</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VtruVeiculoTruck</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VucaVeiculoUtilitarioCarga</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VupaVeiculoUtilitarioPasse</class>
        <class>br.com.chapecosolucoes.trafegusweb.server.beans.VveiViagemVeiculo</class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.connection.username" value="postgres"/>
            <property name="hibernate.connection.driver_class" value="org.postgresql.Driver"/>
            <property name="hibernate.connection.password" value="easy"/>
            <property name="hibernate.connection.url" value="jdbc:postgresql://200.180.96.112:6969/trafegus_transc"/>
            <property name="hibernate.format_sql" value="true"/>
        </properties>
    </persistence-unit>
</persistence>
