@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark"; 
mx|VScrollBar {
    downArrowUpSkin: Embed(source="/assets/downArrow.png");
    downArrowOverSkin: Embed(source="/assets/downArrow.png");
    downArrowDownSkin: Embed(source="/assets/downArrow.png");
    upArrowUpSkin: Embed(source="/assets/upArrow.png");
    upArrowOverSkin: Embed(source="/assets/upArrow.png");
    upArrowDownSkin: Embed(source="/assets/upArrow.png");
    thumbDownSkin: 
    	Embed(source="/assets/thumb.png",
        scaleGridLeft="7", scaleGridTop="5", 
        scaleGridRight="8", scaleGridBottom="7");
        
    thumbUpSkin: 
    	Embed(source="/assets/thumb.png",
        scaleGridLeft="7", scaleGridTop="5", 
        scaleGridRight="8", scaleGridBottom="7");
        
    thumbOverSkin: 
    	Embed(source="/assets/thumb.png",
        scaleGridLeft="7", scaleGridTop="5", 
        scaleGridRight="8", scaleGridBottom="7");
        
    trackSkin: 
    	Embed(source="/assets/scrolltrack.png",
        scaleGridLeft="7", scaleGridTop="4", 
        scaleGridRight="8", scaleGridBottom="6" );       
}
mx|HScrollBar {
	upArrowUpSkin: Embed(source="assets/leftArrow.png");
	upArrowOverSkin: Embed(source="assets/leftArrow.png");
	upArrowDownSkin: Embed(source="assets/leftArrow.png");
	downArrowUpSkin: Embed(source="assets/rightArrow.png");
	downArrowOverSkin: Embed(source="assets/rightArrow.png");
	downArrowDownSkin: Embed(source="assets/rightArrow.png");
	thumbDownSkin: 
		Embed(source="/assets/thumbh.png",
		scaleGridLeft="4", scaleGridTop="6", 
		scaleGridRight="6", scaleGridBottom="7");
	
	thumbUpSkin: 
		Embed(source="/assets/thumbh.png",
		scaleGridLeft="4", scaleGridTop="6", 
		scaleGridRight="6", scaleGridBottom="7");
	
	thumbOverSkin: 
		Embed(source="/assets/thumbh.png",
		scaleGridLeft="4", scaleGridTop="6", 
		scaleGridRight="6", scaleGridBottom="7");
	
	trackSkin: 
		Embed(source="/assets/scrolltrackh.png",
		scaleGridLeft="4", scaleGridTop="7", 
		scaleGridRight="36", scaleGridBottom="8" );       
}